html {
	scrollbar-gutter: stable;
}

html * {
	touch-action: manipulation;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
	gap: 1rem;
}

.title {
	text-align: center;
	font-size: 4rem;
	font-weight: bold;
}

.wrap {
	flex-wrap: wrap;
	gap: 1rem;
}

#list {
	resize: vertical;
	max-width: 100%;
	text-align: center;
	font-size: large;
}

#info {
	padding: 1rem;
	margin-top: 2rem;
	border-radius: 10%;
	border: solid;
	align-self: center;
	background-color: rgb(234, 255, 0);
	inline-size: max-content;
	font-size: 1.5rem;
}

.align-center {
	align-self: center;
}

.invisible {
	visibility: hidden;
}

.space-between {
	justify-content: space-evenly;
}

.hidden {
	display: none;
}

.justify-center {
	justify-content: center;
}

.share {
	gap: 1rem;
	align-items: center;
}

.text-center {
	text-align: center;
}

.comparisons-options {
	padding-inline: 20%;
	padding-bottom: 5%;
	justify-content: space-between;
}

.comparee-button {
	inline-size: 100%;
	min-height: 6rem;
	text-align: center;
}

.subtitle {
	text-align: center;
	margin-bottom: 0.5rem;
}

.main-container {
	gap: 2rem;
}

@media all and (max-width: 1000px){
	.main-container {
		flex-direction: column;
	}

	.center-container {
		gap: 1rem;
		flex-direction: column;
	}
}

#results
{
	font-size: 2rem;
}

#history
{
	font-size: 1.5rem;
	padding-left: 4rem;
}

.bold-font
{
	font-weight: bold;
}

#shuffle-label {
	align-self: center;
	font-size: 2rem;
}

.center-container {
	flex-wrap: wrap;
	flex: 2 1 0;
}

.list-container {
	flex: 1 2 0;
}

.center-container > * {
	flex: 1 1 0;
}

button {
	inline-size: max-content;
	display: inline-block;
	padding: 1rem;
	font-size: 1.5rem;
	cursor: pointer;
	text-align: center;
	color: #fff;
	background-color: #0430aa;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

button:hover {
	background-color: #3f4bcb
}

button:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}